



<ion-view title="Login" id="page4" style="background-color:#BBDEFB;">
    <ion-content padding="true" style="background: url(img/img1.jpg) no-repeat center;background-size:cover;" class="has-header">
        
 
        
        <form id="login-form1" class="list">
            <ion-list id="login-list2">
                <label class="item item-input" id="login-input1">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="login-input2">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="menu.shareUp" id="login-button1" style="font-weight:500;color:#4B4BC5;" class="button button-stable  button-block">Log in</a>
        
            <a ui-sref="signup" id="login-button2" style="color:#4B4BC5;" class="button button-stable  button-block">Or create an account</a>
        </form>
    </ion-content>
        
</ion-view>

