<ion-view title="Share Up" id="page1" style="background-color:#CE93D8;">
    <ion-content padding="true" style="background: url(img/img1.jpg) no-repeat center;background-size:cover;" class="has-header">
        <ion-list id="shareUp-list6">
            <ion-item class="item-thumbnail-left positive" id="shareUp-list-item8" ui-sref="menu.groceryList">
                <img src="img/FEKHFwFQJOxfXBjSt7vB_grocery.png">
                <h2positive>Grocery List</h2positive>
            </ion-item>
            <ion-item class="item-thumbnail-left positive" id="shareUp-list-item11">
                <img src="img/xyBX4R3mQA2mJVX9h1ji_deals.png">
                <h2positive>Deals</h2positive>
            </ion-item>
            <ion-item class="item-thumbnail-left positive" id="shareUp-list-item12">
                <img src="img/tANHM7IUSV6tVCEXMtae_forum.png">
                <h2positive>Forum</h2positive>
            </ion-item>
            <ion-item class="item-thumbnail-left positive" id="shareUp-list-item13">
                <img src="img/SVRkr3soQSCwxbQlwL7z_Expenses.png">
                <h2positive>Expense Manager</h2positive>
            </ion-item>
            <ion-item class="item-thumbnail-left positive" id="shareUp-list-item14">
                <img src="img/IkgIjzUASlKhQl8fN8Cs_Groups.png">
                <h2positive>Groups</h2positive>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>